body {
    font-family: "Goudy Bookletter 1911", sans-serif;
    padding: 0;
    margin: 0;
    background: #ececec;
}

header {
    width: 100%;
    margin-bottom: 50px;
}

h1,
h2 {
    color: #034f84;
    margin: 0 auto;
    text-align: center;
    margin: 20px 0px 10px;
}


.nav-main {
    width: 100%;
    border: 1px solid black;
    background: #385170;
    padding: 15px 150px 15px;
    position: fixed;
    top: 0;
}

.nav-ul {
    width: 40%;
    margin: 0 auto;
    display: inline-block;
}

.nav-ul li {
    display: inline;
    color: purple;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.main {
    background-color: white;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
    text-decoration: underline;
}

.main {
    border: 1px solid black;
    width: 60%;
    padding: 20px;
    margin: auto;
}

#nav-logo {
    color: white;
    font-size: 24px;
    margin-left: 10px;
}

.section-intro {
    border: 1px solid black;
}

#contact {
    margin-top: 20px;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-top: 20px;
}

figcaption {
    font-size: 12px;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;

}

input {
    margin: 10px 0px 20px;
}

#send-btn {
    width: 100px;
    cursor: pointer;
}